{extend name="admin@main"}
{block name="content"}
{php}$status = [0 => '待审核',1=>'通过',2=>'审核不通过'];$status_label = [ 0 => 'orange', 1 => 'green',2 => 'gray'];$type = [1=>'合作商',2=>'加盟门店'];{/php}
<style type="text/css">
    .pic{
        width: 100px;
        height: 70px;
    }
    .layui-btn-danger,.layui-btn-normal,.layui-btn-default{margin:5px 5px 0 0 !important}
</style>
<div class="margin-bottom-10 text-left">
    <fieldset>
        <legend class="layui-bg-cyan">条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input name="tel" value="{$Think.get.tel|default=''}" placeholder="电话" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input name="title" value="{$Think.get.title|default=''}" placeholder="合作商名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">店铺类型</label>
                <div class="layui-input-inline">
                    <select name="type">
                        <option value="">全部</option>
                        {foreach $type as $k=>$v}
                        {eq name='Think.get.type' value='$k.""'}
                        <option selected value="{$k}">{$v}</option>
                        {else}
                        <option value="{$k}">{$v}</option>
                        {/eq}
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">审核状态</label>
                <div class="layui-input-inline">
                    <select name="status">
                        <option value="">全部</option>
                        {foreach $status as $k=>$v}
                        {eq name='Think.get.status' value='$k.""'}
                        <option selected value="{$k}">{$v}</option>
                        {else}
                        <option value="{$k}">{$v}</option>
                        {/eq}
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            </div>
        </form>
    </fieldset>
    <script>form.render()</script>
</div>
<table class="layui-table" lay-skin="line">
    {notempty name='list'}
    <thead>
    <tr>
        <th class='text-left nowrap'>ID</th>
        <th>申请人信息</th>
        <th>联系人</th>
        <th>联系电话</th>
        <th>商户名称</th>
        <th>商户图片</th>
        <th>商户类型</th>
        <th>主营产品</th>
        <th>地址</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    {/notempty}
    <tbody>
    {foreach $list as $key=>$vo}
    <tr>
        <td class='text-left '>
            {$vo.id}
        </td>
        <td class='text-left '>
            {$vo.mtel}【{$vo.mid}】
        </td>
        <td class='text-left '>
            {$vo.name}
        </td>
        <td class='text-left '>
            {$vo.tel}
        </td>
        <td class='text-left '>
            {$vo.title}
        </td>
        <td class='text-left '>
            <a target="_blank" href='{$vo.img}'><img style="width: 50px;height: 50px" src="{$vo.img}"></a>
        </td>
        
        <td class='text-left '>
            {:$type[$vo['type']]}
        </td>
        <td class='text-left '>
            {$vo.product_type}
        </td>
        <td class='text-left '>
            {$vo.address}
        </td>
        <td class='text-left nowrap'>
            <span class="layui-badge layui-bg-{:$status_label[$vo['status']]}">{:$status[$vo['status']]}</span>
        </td>
        <td class='text-left '>
            {$vo.create_time|default='--'}
        </td>
        <td>
            {if ($vo['status'] == 1 and $vo['type']==2)}
            <a class="layui-btn layui-btn-default layui-btn-sm" data-open='{:url("set_goods")}?id={$vo.id}'>编辑</a>
            <span onclick="authgps({$vo['id']},'{$vo['notice']}')" class="layui-btn layui-btn-danger layui-btn-sm">更新定位</span>
            {/if}
            {if $vo['status'] == 0}
            <span onclick="authadopt({$vo['id']})" class="layui-btn layui-btn-normal layui-btn-sm">通过</span>
            <span onclick="authreject({$vo['id']})" class="layui-btn layui-btn-danger layui-btn-sm">拒绝</span>
            {/if}
            <a class="layui-btn layui-btn-danger layui-btn-sm"  data-confirm="确定要删除吗？" data-action="{:url('supper_del')}" data-value="id#{$vo.id}">删除</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script>
    //调用示例
    form.render();
    layer.photos({
        photos: '.test'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });
    function authadopt(id) {
        layer.confirm('确定审核通过?', {icon: 3, title:'提示'}, function(index){
            $.ajax({
                type: 'post',
                url: "{:url('auth_adopt')}",
                data: {id:id},
                success: function (data) {
                    if(data.code == 1){
                        layer.close(index);
                        layer.msg(data.info, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        },function () {
                            location.reload()
                        })
                    }else{
                        layer.msg(data.info, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        })
                    }
                }
            })
        });
    }
    function authreject(id) {
        layer.prompt({
            formType: 0,
            value: '',
            title: '请输入不通过原因',
        }, function(value, index, elem){
            if(value==''){
                layer.msg('请输入不通过原因')
            }
            $.ajax({
                type: 'post',
                url: "{:url('auth_reject')}",
                data: {id:id,content:value},
                success: function (data) {
                    if(data.code == 1){
                        layer.close(index);
                        layer.msg(data.info, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        },function () {
                            location.reload()
                        })
                    }else{
                        layer.msg(data.info, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        })
                    }
                }
            })
        });
    }
    
    function authgps(id,notice) {
        layer.prompt({
            formType: 0,
            value:notice,
            title: '请输入地图地址',
        }, function(value, index, elem){
            if(value==''){
                layer.msg('请输入地图地址')
            }
            $.ajax({
                type: 'post',
                url: "{:url('auth_gps')}",
                data: {id:id,content:value},
                success: function (data) {
                    if(data.code == 1){
                        layer.close(index);
                        layer.msg(data.info, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        },function () {
                            location.reload()
                        })
                    }else{
                        layer.msg(data.info, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        })
                    }
                }
            })
        });
    }
    
</script>

<script>
        //document.addEventListener("DOMContentLoaded", function() {
            // 使用 querySelectorAll 选择所有 class='imgs' 的 img 元素
            setTimeout(function(){
                //alert(1);
           // }
            var imgs = document.querySelectorAll('img.imgs');
            imgs.forEach(function(img) {
                // 检查 img.src 是否包含需要替换的 URL
                if (img.src.includes('http://youhua.')) {
                    // 使用 replace 方法替换 URL
                    img.src = img.src.replace(/http:\/\/youhua\./g, 'https://ssl.');
                }
            });
            },300)
       // });
    </script>
        
{empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
{/block}