{extend name="admin@main"}
{block name="content"}
{php}$type=[1=>'公司简介',2=>'行业资讯'];{/php}
<div class="margin-bottom-10 text-left">
    <fieldset>
        <legend class="layui-bg-cyan">条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input name="title" value="{$Think.get.title|default=''}" placeholder="请输入内容" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                <button data-modal='{:url("news_add")}' class='layui-btn layui-btn-primary'><i class="layui-icon">&#xe654;</i>添加</button>
            </div>
        </form>

    </fieldset>
    <script>form.render()</script>
</div>
<table class="layui-table" lay-skin="line">
    {notempty name='list'}
    <thead>
    <tr>
        <th class='text-left nowrap'>ID</th>
        <th class='text-left'>昵称</th>
        <th>头像</th>
        <th>排序</th>
        <th>浏览量</th>
        <th>点赞量</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    {/notempty}
    <tbody>
    {foreach $list as $key=>$vo}
    <tr>
        <td class='text-left nowrap'>
            {$vo.id}
        </td>
        <td class='text-left'>
            {$vo.title|mb_substr=0,50}
        </td>
        <td>
            <img src="{$vo.imglogo}">
        </td>
        <td>
            {$vo.order_num}
        </td>
        <td>
            {$vo.hits}
        </td>
        <td>
            {$vo.like_count}
        </td>
        <td>
            <div class="layui-form" >
                <input type="checkbox" lay-skin="switch" value="{$vo.id}" lay-filter="test2" lay-text="显示|隐藏" {if condition="$vo.status eq 1"}checked{/if} >
            </div>
        </td>
        <td>
            {$vo.create_time}
        </td>
        <td>
            <a class="layui-btn layui-btn-default layui-btn-sm" data-modal='{:url("news_edit")}?id={$vo.id}'>编辑</a>
            <a data-dbclick class="layui-btn layui-btn-danger layui-btn-sm" data-confirm="确定要删除吗？" data-action="{:url('news_del')}" data-value="id#{$vo.id}">删 除</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script>
    form.render();
    form.on('switch(test1)', function(data){
        $.ajax({
            url: '{:url("news_top")}?id=' + data.value+'&type='+data.elem.checked,
            type: 'post',
            async: false,
            success: function (data) {
                if(data.code){
                    layer.msg(data.info, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    })
                }else{
                    layer.msg(data.info);
                }
            }
        });
    });
    form.on('switch(test2)', function(data){
        $.ajax({
            url: '{:url("news_status")}?id=' + data.value+'&type='+data.elem.checked,
            type: 'post',
            async: false,
            success: function (data) {
                if(data.code){
                    layer.msg(data.info, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    })
                }else{
                    layer.msg(data.info);
                }
            }
        });
    });
</script>
{empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
{/block}