<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付结果</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="/static/pay_success/css/style.css"/>
</head>
<body>
<section class="aui-flexView">
    <section class="aui-scrollView">

        <div class="aui-content-box">
            <div class="aui-yes">
                <img src="/static/pay_success/img/yes.png" alt="">
            </div>
            <h1>链接创建成功</h1>
            
            <form action="https://cashier1.sandpay.com.cn/gw/web/order/create" method="post">
                <input type="hidden" name="charset" value="utf-8">
                <input type="hidden" name="signType" value="01">
                <input type="hidden" name="data" value="{$data.data}">
                <input type="hidden" name="sign" value="{$data.sign}">
                <button type="submit">请点击立即支付</button>
            </form>
           
        </div>
    </section>
</section>
</body>
</html>
