<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付结果</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="/static/pay_success/css/style.css"/>
</head>
<body>
<section class="aui-flexView">
    <section class="aui-scrollView">

        <div class="aui-content-box">
            <div class="aui-yes">
                <img src="/static/pay_success/img/yes.png" alt="">
            </div>
            <h1>支付处理中</h1>
        
            <button>关闭</button>

        </div>
    </section>

</section>
</body>
</html>
