<style>
    #tsid1{
        display: none;
    }
    #tsid2{
        display: none;
    }
</style>
<form class="layui-form layui-card" action="{:url('')}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">权益券名称</label>
            <div class="layui-input-block">
                <input type="text" autocomplete="off" required name="title" value='{$vo.title|default=""}' placeholder="请输入优惠券名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">绑定商品</label>
            <div class="layui-input-block">
                <select name="goods_id" lay-search="">
                    <option value="0">请选择商品</option>
                    {foreach name='type' item='item'}
                    <option value="{$key}" {if condition="$key eq @$vo.goods_id"}selected{/if}>{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">面值</label>
            <div class="layui-input-block">
                <input type="number" autocomplete="off" name="money" required value='{$vo.money|default=""}' placeholder="请输入抵扣金额" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                {if condition="@$vo.imgurl"}
                <div class="uploadimage transition uploadimagemtl imgurl" style="background-image: url('{$vo.imgurl|default=""}');"></div>
                {/if}
                <input type="hidden" name="imgurl" value='{$vo.imgurl|default=""}'>
                <a class="layui-btn layui-btn-normal btn-link" data-file="btn" data-field="imgurl" data-type="png,jpg,wgt,apk,jpeg" href="javascript:void(0)">上传图片</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block"  >
                <input lay-filter="demo-radio-filter" type="radio" name="time_type" {empty name="$vo.time_type" }checked{/empty} value="1" title="按时间" {if condition="@$vo.time_type eq 1"}checked{/if} >
                <input lay-filter="demo-radio-filter" type="radio" name="time_type" value="2" title="按天数" {if condition="@$vo.time_type eq 2"}checked{/if}>
            </div>
        </div>
        <div class="layui-form-item hide" id="tsid1"  {if condition="@$vo.time_type eq 2"}style="display: block" {/if}>
            <label class="layui-form-label">过期天数</label>
            <div class="layui-input-block">
                <input type="number" autocomplete="off" name="day" value='{$vo.day|default=""}' placeholder="请输入过期天数" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="tsid2" {empty name="$vo.time_type" }style="display: block" {/empty} {if condition="@$vo.time_type eq 1"}style="display: block" {/if} >
            <div class="layui-inline">
                <label class="layui-form-label">日期范围</label>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="start_time" id="startDate" value='{$vo.start_time|default=""}' class="layui-input" placeholder="开始日期">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="end_time" id="endDate" value='{$vo.end_time|default=""}' class="layui-input" placeholder="结束日期">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" {empty name="vo.status" }checked{/empty} name="status" value="1" title="正常" {if condition="@$vo.status eq 1"}checked{/if}>
                <input type="radio" name="status" value="2" title="过期" {if condition="@$vo.status eq 2"}checked{/if}>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
<script>
    //日期范围
    laydate.render({
        elem: '#startDate'
    });
    laydate.render({
        elem: '#endDate'
    });
    form.on('radio(demo-radio-filter)', function(data){
        var elem = data.elem; // 获得 radio 原始 DOM 对象
        var checked = elem.checked; // 获得 radio 选中状态
        var value = elem.value; // 获得 radio 值
        var othis = data.othis; // 获得 radio 元素被替换后的 jQuery 对象
        //
        if(value=="1"){
            document.getElementById("tsid1").style.display="none";
            document.getElementById("tsid2").style.display="inline";


        }else {
            document.getElementById("tsid2").style.display="none";
            document.getElementById("tsid1").style.display="inline";

        }
        console.log(checked,value,othis)

        // layer.msg(['value: '+ value, 'checked: '+ checked].join('<br>'));
    });
    require(['jquery'], function () {
        var tpl1 = '<div class="uploadimage transition uploadimagemtl imgurl"></div>';
        $('[name="imgurl"]').on('change', function () {
            $('.imgurl').remove();
            var $tpl1 = $(tpl1).css('backgroundImage', 'url(' + this.value + ')');
            $(this).before($tpl1);
        });
    });
    form.render()
</script>
