<form class="layui-form layui-card" action="{:url('')}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用户</label>
            <div class="layui-input-block">
                <input type="text" readonly autocomplete="off" value='{$Think.get.tel}【{$Think.get.id}】' class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="lock_remark" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <input type='hidden' value='{$Think.get.id}' name='id'>
        <input type='hidden' value='1' name='is_lock'>
        <button class="layui-btn" type='submit'>确认锁定</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
<script>form.render()</script>
